{$SITE_ADDRESS} {
	encode zstd gzip
	reverse_proxy web:3000
}

{$FORECAST_SITE_ADDRESS} {
	encode zstd gzip

	handle /openapi.json {
		reverse_proxy backend:8000
	}
	handle /docs/oauth2-redirect {
		reverse_proxy backend:8000
	}
	handle_path /api/* {
		reverse_proxy backend:8000
	}
	handle {
		reverse_proxy frontend:8501
	}
}
